{% extends "layout.html" %}

{% block body %}

        <h1>THIS IS THE HOME</h1>

        <p>hello, {{ userdata["name"] }}</p>

        <p>GOAL: {{ userdata["goal"] }}</p>

        <h2>Tasks you have done:</h2>
        <table> 
                <thead>
                        <tr>
                                <th>Task</th>
                                <th>Point</th>
                                <th>P | N</th>
                                <th>Comment</th>
                        </tr>
                </thead>
                <tbody>
                        {% for task_row in userdata["tasks"] %}
                                <tr>
                                        <td>
                                                {{ task_row["task"] }}
                                                {{ task_row["point"] }}
                                                {{ task_row["pn"] }}
                                                {{ task_row["comment"] }}
                                        </td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>

        <a href="/logout">Logout Here</a>

{% endblock %}
