{% extends "layout.html" %}

{% block body %}

        <h1>THIS IS THE HOME</h1>

        <p>Hello, {{ userdata["name"] }}</p>

        <p>Your GOAL: {{ userdata["goal"] }}</p>
        <a href="/goal">Update your goal</a>

        <h2>Score overview</h2>
        <table> 
                <thead>
                        <tr>
                                <th>Total points</th>
                                <th>Total positive points</th>
                                <th>Total negative points</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                                <td>{{ userdata["total_points"] }}</td>
                                <td>{{ userdata["positive_points"] }}</td>
                                <td>{{ userdata["negative_points"] }}</td>
                        </tr>
                </tbody>
        </table>


        <h2>Tasks you have done:</h2>
        <table> 
                <thead>
                        <tr>
                                <th>Task</th>
                                <th>Point</th>
                                <th>P | N</th>
                                <th>Comment</th>
                        </tr>
                </thead>
                <tbody>
                        {% for task_row in userdata["tasks"] %}
                                <tr>
                                        <td>{{ task_row["task"] }}</td>
                                        <td>{{ task_row["point"] }}</td>
                                        <td>{{ task_row["pn"] }}</td>
                                        <td>{{ task_row["comment"] }}</td>
                                        
                                </tr>
                        {% endfor %}
                </tbody>
        </table>

        <a href="/task">Add a new task</a>

        <a href="/rule">Manage your rules</a>

        <a href="/logout">Logout</a>

{% endblock %}
