{% extends "layout.html" %}

{% block body %}

    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        <input autocomplete="off" autofocus name="password" placeholder="Password" type="text">
        <input autocomplete="off" autofocus name="confpassword" placeholder="Confirm Password" type="text">
        <input type="submit">
    </form>

{% endblock %}
