{% extends "layout.html" %}

{% block body %}

        <h1>Manage your rules</h1>

        <h2>Your rules:</h2>
        <table> 
                <thead>
                        <tr>
                                <th>Rule Name</th>
                                <th>Point</th>
                                <th>P | N</th>
                        </tr>
                </thead>
                <tbody>
                        {% for rule_row in user_rules %}
                                <tr>
                                        <td>{{ rule_row["rule"] }}</td>
                                        <td>{{ rule_row["point"] }}</td>
                                        <td>{{ rule_row["pn"] }}</td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>

        <h2>Add a new rule</h2>

    <form action="/rule" method="post">
        <input autocomplete="off" autofocus name="rule_name" placeholder="New Rule" type="text">
        <input autocomplete="off" autofocus name="point" placeholder="Point" type="number">
        <input autocomplete="off" autofocus name="pn" placeholder="Positive or Negative" type="text">
        <input type="submit">
    </form>

    <a href="/home">Home</a>


{% endblock %}
